.img-save:hover {
    cursor: pointer;
}

#finesModal .modal-content {
    position: absolute;
    left: -20vh;
    top: 5vh!important;
    padding-bottom: 264px;
    width: 1200px;
    height: 80vh;
    overflow: auto;
    overflow-x: hidden;
}
