.img-save:hover {
    cursor: pointer;
}

#finesModal .modal-content {
    position: absolute;
    top: 5vh!important;
    left: -15vw!important;
    padding-bottom: 264px;
    width: 80vw;
    height: 80vh;
    overflow: auto;
}

.delete-img {
    width: 10px;
}
.delete-img:hover {
    cursor: pointer;
    width: 24px;
}